#publicSection, #privateSection {
	display: none;
}

* {
	padding: 0;
	margin: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

iframe {
	top: 0;
	width: 0;
	height: 0;
	position: absolute;
	overflow: hidden;
}

img {
	user-select: none;
	pointer-events: none;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h3 {
	font-size: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

input {
	height: 2.5em;
	min-width: 300px;
	width: 50%;
	background-color: #212121;
	box-shadow: none;
	border: none;
	border-radius: 0.25em;
}

input:focus {
	outline-color: #B1C728;
}

body {
	font-family: Arial, sans-serif;
	height: 100%;
	display: flex;
  }

  .container {
	display: flex;
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
  }

  .sidebar {
	width: 15%;
	background-color: black;
	display: flex;
	font-size: 1.5em;
	color: white;
	display: flex;
	flex-direction: column;
  }

  .logo-container {
	display: flex;
	align-items: center;
	margin: 12px;
  }

  .logo-container p {
	margin-left: 4px;
	color: #EAFF00;
	font-weight: 700;
  }

  .main {
	width: 85%;
	display: flex;
	flex-direction: column;
  }

  .header {
	height: 10%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }

  .header-profile {
	display: flex;
	align-items: center;
	gap: 8px;
  }

  .header-profile img {
	border-radius: 100%;
  }

  .header-profile button {
	background-color: transparent;
	color: #B3B3B3;
	transition: color 0.25s;
  }

  .header-profile button:hover {
	color: white;
  }

  .header-profile-user {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }

  .header-profile-user p {
	font-weight: 700;
  }

  .header-profile-user button {
	padding: 0;
  }

  .content {
	flex: 1;
	background-color: black;
	display: flex;
	flex-direction: column;
  }

/* .footer {
	background-color: red;
} */

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.playButton {
	background-color: transparent;
	color: #ffffff;
	padding: 0 0;
	margin: 0;
	border-radius: 0;
	border: none;
}

button {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: background-color 0.25s;
}

.sidebar button {
	background-color: transparent;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

.sidebar button:hover  {
	background-color: #1A1A1A;
}

.my-playlists {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem;
}

.playlist-item {
	display: flex;
	width: fit-content;
	height: fit-content;
	align-items: center;
	gap: 1rem;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.playlist-hero {
    background-image: url('/playlist-frame.svg');
    display: flex;
	width: 100%;
	/* padding: 1rem; */
	/* margin: 1rem; */
    align-items: center;
	/* margin-bottom: 20px; */
}

.playlist-hero-info {
    flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: inherit;
	max-height: 250px;
	height: 250px;
	align-items: flex-start;
}

.playlist-hero img {
	padding: 1rem;
}

.playlist-hero-info p {
    font-size: 0.8em;
    color: white;
	user-select: none;
}

.playlist-hero-info h2 {
    font-size: 74px;
    color: #ffffff;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    user-select: none;
}

#playlistDescription {
    font-size: 1em;
    line-height: 1.5;
	color: #C6C7C5;
	user-select: none;
}

.player {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #171717;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.player-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	border: #213547;
	width: fit-content;
	margin: auto;
	gap: 1rem;
}

.player-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: #213547;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.progress-container {
	display: flex;
	align-items: center;
	font-size: small;
	color: #A7A7A7;
	border: #213547;
	width: fit-content;
	margin: auto;
	gap: 1rem;
}

.progress-container p {
	font-weight: normal !important;
	color: inherit !important;
} 

.progress-bar {
	position: relative;
	width: 500px;
	height: 2px;
	border-radius: 1rem;
	background-color: #777777;
  }

  .progress-fill {
	position: absolute;
	border-radius: 1rem;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #EAFD31;
	width: 0%;
  }

.player-actions button {
	color: transparent;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
}

.player-actions button img {
	width: 24px;
	height: 24px;
}

.secondary-action-button {
    fill: greenyellow;
	color: greenyellow
}

.saved-songs-total-details {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.saved-songs-total-details img {
	border-radius: 100%;
}

.track-container {
	max-height: 400px;
	overflow-y: auto;
	margin-bottom: 90px;
	scrollbar-width: none;
}

.track-container::-webkit-scrollbar {
	width: 0;
  }

.trackInfo {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	color: #A7A7A7;
	padding: 0.5rem;
}

.trackInfo img {
	width: 64px;
	height: 64px;
	border-radius: 10%;
}

.trackInfo p:first-of-type {
	font-weight: 600;
	color: white
}

.track-item {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	color: #A7A7A7;
	padding: 0.25rem;
	transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.track-item-separator {
	display: flex;
	align-items: center;
	background-color: #181818;
	height: 52px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.track-item-info {
	width: 100%;
	max-width: 50%;
}

.track-item-album {
	width: 100%;
	max-width:25%;
}

.track-item-album-artist {
	width: 100%;
	max-width:25%;
}

.track-item:hover {
	background-color: #2A2F2D;
}

.track-item img {
	width: 50px;
	height: 50px;
	border-radius: 10%;
}

.track-item p:first-of-type {
	font-weight: 600;
	color: white
}

.track-list-container {
	top: 50px;
	position: absolute;
	color: white;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
